@page
@model ContactTracing15.Pages.Contacts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Phone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.TestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.TestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.AddedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.AddedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.RemovedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.RemovedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Tracer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Tracer.TracerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contact.Case)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Case.CaseID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Contact.ContactID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
