@page
@model ContactTracing15.Pages.Tracing.DashboardModel

<div class="lhs" style="background: #F2F2F2; border: 1px solid #cecece; float: left; width: 30%">
    @await Html.PartialAsync("_AssignedCases", Model.CaseListItems)
</div>
<div class="rhs">
    @if (Model.HasCurrentAssignedCase)
    {
        <div class="container" style="background: #F2F2F2; border: 1px solid #cecece; float: right; width: 60%">
            <h2>
                @Html.DisplayFor(m => m.CurrentAssignedCase.Name)
            </h2>
            <p>
                Phone Number: @Html.DisplayFor(m => m.CurrentAssignedCase.PhoneNumber)
            </p>
            @if (Model.CurrentAssignedCase.EmailAddress != null)
            {
                <p>
                    Email Address: @Html.DisplayFor(m => m.CurrentAssignedCase.EmailAddress)
                </p>
            }
            @if (Model.CurrentAssignedCase.PhoneNumber2 != null)
            {
                <p>
                    Secondary Phone Number: @Html.DisplayFor(m => m.CurrentAssignedCase.PhoneNumber2)
                </p>
            }
            <p>
                Added Contacts:
                <u1>
                    @foreach (var contact in Model.CurrentAssignedCase.contacts)
                    {
                    <li>
                        @contact.Info
                        <a asp-page="./Dashboard_Edit" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-editcontactid="@contact.ContactId">edit </a>
                        <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-deletecontactid="@contact.ContactId" >delete</a>
                    </li>
                    }
                </u1>
            </p>
            <p>
                <a asp-page="./Dashboard_Edit" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button">Add a Contact </a>
                <a asp-page="./Dashboard" asp-route-completecaseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button"> Close Case </a>
                <a asp-page="./Dashboard" asp-route-dropcaseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button"> Drop Case</a>
            </p>
        </div>
    }
    else
    {
        <div class="container" style="float: right; width: 60%">
            <p>
                Click a case for details.
            </p>
        </div>
    }

       
