@page
@model ContactTracing15.Pages.Tracing.DashboardModel
@{
    ViewData["Title"] = "Contact Tracer Dashboard";
}


<div class="lhs" style="background: #F2F2F2; border: 1px solid #cecece; float: left; width: 30%">
    @await Html.PartialAsync("_AssignedCases", Model.CaseListItems)
</div>
<div class="rhs">

    @if (Model.HasCurrentAssignedCase)
    {
        <div class="container" style="background: #F2F2F2; border: 1px solid #cecece; float: right; width: 60%">
            <h2>
                @Html.DisplayFor(m => m.CurrentAssignedCase.Name)
            </h2>
            <p>
                Phone Number: @Html.DisplayFor(m => m.CurrentAssignedCase.PhoneNumber)
            </p>
            @if (Model.CurrentAssignedCase.EmailAddress != null)
            {
                <p>
                    Email Address: @Html.DisplayFor(m => m.CurrentAssignedCase.EmailAddress)
                </p>
            }
            @if (Model.CurrentAssignedCase.PhoneNumber2 != null)
            {
                <p>
                    Secondary Phone Number: @Html.DisplayFor(m => m.CurrentAssignedCase.PhoneNumber2)
                </p>
            }
            <div>
                <p>Added Contacts:</p>
                <ul>
                    @foreach (var contact in Model.CurrentAssignedCase.contacts)
                    {
                    <li>
                        @if (@contact.MarkUnmark == "mark")
                        {
                        <div>@contact.Info</div>
                        }
                        else {<div class="text-info">@contact.Info</div>} 

                    <div class="btn-group" role="group">
                        <a asp-page="./Dashboard_Edit" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-editcontactid="@contact.ContactId" class="btn btn-sm rounded-0" role="button" style="background: #DEDEDE">edit </a>
                        <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-deletecontactid="@contact.ContactId" class="btn btn-sm rounded-0" role="button" style="background: #DEDEDE">delete</a>
                        @if (contact.IsMarked)
                        {
                            <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-manualunmarkcontactid="@contact.ContactId" class="btn btn-sm rounded-0" role="button" style="background: #DEDEDE"> unmark</a>
                        }
                        else
                        {
                            <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-manualmarkcontactid="@contact.ContactId" class="btn btn-sm rounded-0" role="button" style="background: #DEDEDE"> mark</a>
                        }
                    </div>
                    </li>
                    }
                </ul>
            </div>
            @if (Model.CloseFailed)
            {
                <div>
                    Please manually contact and mark all contacts without email addresses before closing case.
                </div>
            }
            <div style="margin:10px">
                <a asp-page="./Dashboard_Edit" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button">Add a Contact </a>
                <a class="btn btn-danger rounded-0" data-toggle="modal" href="#closeModal" role="button">Close case</a>
                <a class="btn btn-danger rounded-0" data-toggle="modal" href="#dropModal" role="button">Drop case</a>
            </div>
        </div>



        <!-- Modals -->
        <div id="closeModal" class="modal fade rounded-0" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #F2F2F2">
                        <h4 class="modal-title" style="text-align: center;">Close Case?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure? Only close a case if all of their contacts have been identified and had contact information listed. This action is irreversible.</p>
                    </div>
                    <div class="modal-footer" style="background: #F2F2F2">
                        <a class="btn btn-outline-secondary rounded-0" data-dismiss="modal" role="button"> Cancel</a>
                        <a asp-page="./Dashboard" asp-route-caseid="@Model.CurrentAssignedCase.CaseID" asp-route-completecaseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button"> Close case</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="dropModal" class="modal fade rounded-0" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background: #F2F2F2">
                        <h4 class="modal-title" style="text-align: center;">Drop Case?</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure? This case will be assigned to a different tracer, and any contacts already listed will be kept. This action is irreversible.</p>
                    </div>
                    <div class="modal-footer" style="background: #F2F2F2">
                        <a class="btn btn-outline-secondary rounded-0" data-dismiss="modal" role="button"> Cancel</a>
                        <a asp-page="./Dashboard" asp-route-dropcaseid="@Model.CurrentAssignedCase.CaseID" class="btn btn-danger rounded-0" role="button"> Drop Case</a>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        @if (Model.CloseFailed)
        {
            <div>
                Please manually contact and mark all contacts without email addresses before closing case.
            </div>
        }
        <div class="container" style="float: right; width: 60%">
            <p>
                Click a case for details.
            </p>
        </div>
    }
</div>

