@page
@model ContactTracing15.Pages.GovAgent.GovHomeModel
@{
    ViewData["Title"] = "Government Agent Dashboard";
}

<style>

    #statCardDeck {
        margin: 0px;
        padding: 20px;
    }

    #tracingCentreTable {
        height: 50%;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    #statCard {
        display: table;
        overflow: hidden;
        width: 18rem;
        height: 10rem;
        
    }

    .pressableCard {
        display: table;
        overflow: hidden;
        width: 18rem;
        height: 10rem;
    }

    .nonPressCard {
        background: C1D1D7;
    }

    .card-body {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

    .card-body:after {
        content: "";
        height: 80%;
        width: 100%;
    }

    #subtitle {
        display: table-cell;
        vertical-align: sub;
        border: 1px solid #f00;
        text-align: center;
    }

    .row {
        display: grid;
        grid-auto-flow: column;
        gap: 5%;
    }

    .col {
        border: solid;
    }
    


</style>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".pressableCard").hover(
            function () {
                $(this).addClass('shadow-lg').css('cursor', 'pointer');
            }, function () {
                $(this).removeClass('shadow-lg');
            }
        );
    });
</script>

<h1>Dashboard</h1>

<div class="row" id="statCardDeck">
    <div class="card-deck">
        <div class="card pressableCard" id="statCard" style="margin:10px; background: #90ADB8;">
            <div class="card-body">
                <h3>View Heatmap</h3>
                <p class="subtitle"></p>View a geographical heatmap of cases by time</p>
                <a asp-page="/GovAgent/HeatmapPage" class="stretched-link"></a>
            </div>
        </div>
        <div class="card pressableCard" id="statCard" style="margin:10px; background: #90ADB8;">
            <div class="card-body">
                <h3>Centre Breakdown</h3>
                <p class="subtitle">View summary stats for each tracing centre</p>
                <a asp-page="/GovAgent/TracingCentreSummary" class="stretched-link"></a>
            </div>
        </div>
        <div class="card pressableCard" id="statCard" style="margin:10px; background: #90ADB8;">
            <div class="card-body">
                <h3>Download Data</h3>
                <p class="subtitle">Download a csv file of contact tracing data</p>
                <a asp-page="/GovAgent/GovHome" class="stretched-link"></a>
            </div>
        </div>


        <div class="card nonPressCard" id="statCard" style="background:#e0e8eb">
            <div class="card-body">
                <h1>@Model.PercentageCasesReachedLast28Days %</h1>
                <p class="subtitle">Percentage of cases traced (last 28 days)</p>
            </div>
        </div>
        <div class="card nonPressCard" id="statCard" style="background: #e0e8eb">
            <div class="card-body">
                <h1>@Model.AverageTraceTimeLast28DaysString</h1>
                <p class="subtitle">Average time taken to trace a case (last 28 days)</p>
            </div>
        </div>
        <div class="card nonPressCard" id="statCard" style="background: #e0e8eb">
            <div class="card-body">
                <h1>@Model.AverageContactsPerCaseLast28Days</h1>
                <p class="subtitle">Average # contacts per case (last 28 days)</p>
            </div>
        </div>
        <div class="card nonPressCard" id="statCard" style="background: #e0e8eb">
            <div class="card-body">
                <h1>@Model.TotalCasesEver</h1>
                <p class="subtitle">Total positive tests recorded</p>
            </div>
        </div>
        <div class="card nonPressCard" id="statCard" style="background: #e0e8eb">
            <div class="card-body">
                <h1>@Model.TotalCasesReached</h1>
                <p class="subtitle">Total cases successfully traced ever</p>
            </div>
        </div>
        <div class="card nonPressCard" id="statCard" style="background: #e0e8eb">
            <div class="card-body">
                <h1>@Model.TotalContactsReached</h1>
                <p class="subtitle">Total contacts reached</p>
            </div>
        </div>

    </div>
    
</div>

